* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.section-box-padding {
    padding: 50px;
}
.section-max-width {
    max-width: 1280px;
    margin: 0 auto 0 auto
}
body {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.product {
    display: grid;
    grid-template-columns: 1fr min-content;
    background: #445162;
}
.product_about-conteiner {
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-row-gap: 50px;
}
.product_list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, min-content);
    list-style: none;
    margin: 0;
    padding: 0;
}
.product_list-items{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-family: Arial;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
    color: #ffffff;
}
.product_list-items::before {
    position: relative;
    content: url("images/check_icon_349.png");
    top: 5px;
    font-family: Arial;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
}
.product_about-conteiner h1 {
    font-family: Arial;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 400;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
    color: #ffffff;
}
.product_img-conteiner {
    padding: 20px 0px 0px 0px;
}
.about-product {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-column-gap: 30px;
}
.product-description_contener {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;
    grid-row-gap: 20px;
}
.product-description_about {
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}
.product-description-conteiner h2 {
    font-family: Arial;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
}
.product-description-conteiner {
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-row-gap: 30px;
    max-width: 650px;
}
.product-pluses {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    grid-gap: 30px;
    background: #f5f5f5;
    padding: 50px 75px 50px 75px;
}
.product-pluses_element-conteiner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fit, min-content);
    grid-column-gap: 24px;
    grid-row-gap: 35px;
}
.product-pluses_label {
    font-family: Arial;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
}
.description-conteiner {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 9px;
    margin: 0 0 0 41px;
}
.description-conteiner:before {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    left: -41px;
    content: "+";
    background: #445162;
    width: 32px;
    height: 32px;
    color: #ffffff;
    font-size: 35px;
    font-weight: 1000;
    transition: .2s ease;
}
.product-pluses details[open] .description-conteiner::before {
    content: "-";
}
.description-conteiner:hover {
    cursor: pointer;
}
.description {
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}
.description-close {
    margin: 15px 0 0 41px;
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}
.scrinshots {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    grid-row-gap: 35px;
    background: #ffffff;
}
.scrinshots h2 {
    display: inline-flex;
    justify-content: center;
    font-family: Arial;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
}
.scrinshots figure {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
}
.scrinshots figcaption {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    grid-row-gap: 15px;
}
.scrinshots-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;
    grid-column-gap: 15px;
    grid-row-gap: 30px;
}
.scrinshot-about span{
    font-family: Arial;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #445161;
}
.scrinshot-about p {
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}
.scrinshots-content_img-conteiner {
    width: 200px;
    height: 150px;
}
.scrinshots-content_img-conteiner img {
    width: 100%;
    height: 100%;
}
.reviews {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    grid-row-gap: 35px;
    background: #f5f5f5;
}
.reviews_label {
    display: inline-flex;
    justify-content: center;
    font-family: Arial;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
}
.reviews_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;
    grid-column-gap: 30px;
    grid-row-gap: 24px;
}
.review {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 16px;
}
.review_user-img {
    background: #445161;
    width: 75px;
    height: 75px;
    border-radius: 100%;
}
.review figcaption {
    position: relative;
    display: grid;
    grid-template-columns: 12px 1fr;
}
.review figcaption:before {
    position: relative;
    content: "";
    background: #ebebeb;
    width: 22px;
    height: 22px;
    top: 25px;
    transform: rotate(45deg);
}
.review_text-content {
    display: grid;
    grid-template-rows: 1fr min-content;
    grid-row-gap: 15px;
    background: #ebebeb;
    height: min-content;
    padding: 15px;
    border-radius: 5px;
}
.review_text-review {
    font-family: Arial;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    font-style: italic;
    color: #333333;
}
.review_user-name {
    font-family: Arial;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #989898;
}
.buy {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    grid-row-gap: 30px;
    padding: 50px 145px 50px 145px;
}
.buy_label {
    display: inline-flex;
    justify-content: center;
    font-family: Arial;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
}
.card-conteiner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content;
    grid-column-gap: 45px;
}
.card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-self: end;
    background: #445162;
    height: min-content;
    padding: 20px;
    border: 2px solid #445162;
    border-radius: 5px;
}
.card_label {
    display: inline-flex;
    justify-content: center;
    font-family: Arial;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #ffffff;
}
.card_cost-conteiner {
    display: flex;
    justify-content: center;
    background: #ffffff;
    padding: 16px;
    margin: 0px -20px 0px -20px;
}
.card_cost {
    font-family: Arial;
    font-size: 40px;
    line-height: 30px;
    font-weight: 400;
    color: #445162;
}
.card_cost::before {
    content: "$";
    font-family: Arial;
    font-size: 40px;
    line-height: 30px;
    font-weight: 400;
    color: #445162;
}
.card_options {
    list-style: none;
    counter-reset: my-awesome-counter;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.card_options li{
    counter-increment: my-awesome-counter;
    display: flex;
    gap: 5px;
    font-family: Arial;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
}
.card_options li::before {
    content: counter(my-awesome-counter) ".";
    font-family: Arial;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
}
.card_buy {
    display: inline-flex;
    justify-content: center;
    background: #ffffff;
    padding: 15px;
    border: none;
    border-radius: 5px;
    outline: none;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Arial;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #445161;
    transition: .3s ease;
}
.active-element:hover {
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0px 0px 13px #c7c7c7;
}
.active-element:focus {
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0px 0px 13px #c7c7c7;
}
.active-element-form:hover {
    box-shadow: 0px 0px 13px #c7c7c7;
}
.active-element-form:focus {
    box-shadow: 0px 0px 13px #c7c7c7;
}
.contacts {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    grid-row-gap: 30px;
    background: #445162;
    padding: 50px 245px 50px 245px;
}
.contacts_label {
    text-align: center;
    font-family: Arial;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}
.contacts_about-form-conteiner {
    display: grid;
    grid-template-columns: 1fr .5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 45px;
}
.about-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, min-content);
    grid-row-gap: 22px;
}
.about-form_input-conteiner {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 5px;
    background: #ffffff;
    min-height: 40px;
    padding: 10px;
    border-radius: 5px;
    transition: .2s ease;
}
.about-form_input {
    display: inline-flex;
    align-items: center;
    background: none;
    border: none;
    outline: none;
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #445162;
}
.about-form_input-conteiner label,
.about-form_textaria-conteiner label {
    display: inline-flex;
    align-items: center;
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #445162;
}
.about-form_textaria-conteiner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    background: #ffffff;
    min-height: 170px;
    padding: 10px;
    border-radius: 5px;
    transition: .2s ease;
}
.about-form_textaria {
    border: none;
    outline: none;
    resize: none;
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #445162;
} 
.about-form_send-button-conteiner {
    display: flex;
    justify-content: center;
}
.about-form_send-button {
    background: #ffffff;
    min-width: 140px;
    width: min-content;
    padding: 14px;
    border: none;
    border-radius: 5px;
    outline: none;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    color: #445162;
    transition: .3s ease;   
}
.contacts_icons {
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style: none;
}
.contacts_icons li:nth-child(-n+4)  {
    position: relative;
    left: 30px;
}
.contacts_icons li:nth-child(-n+4)::before {
    position: absolute;
    content: "";
    top: -1px;
    left: -30px;
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
}
.contacts_icons li:nth-child(1)::before {
    background-image: url("images/skype_icon_319.png");
}
.contacts_icons li:nth-child(2)::before {
    background-image: url("images/icq_icon_324.png");
}
.contacts_icons li:nth-child(3)::before {
    background-image: url("images/email_icon_332.png");
}
.contacts_icons li:nth-child(4)::before {
    background-image: url("images/phone_icon_337.png");
}
.contacts_link {
    text-decoration: none;
    background-image: linear-gradient(#ffffff, #dadada);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    outline: none;
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    transition: .3s ease;
}
.contacts_link:hover {
    background-size: 100% 2px;
}
.contacts_link:focus {
    background-size: 100% 2px;
}
.footer {
    display: flex;
    justify-content: center;;
    background: #ffffff;
    padding: 10px 0 7px 0;
}
.footer_content {
    font-family: Arial;
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    color: #445161;
}
@media(max-width: 1280px) {
    .buy {
        padding: 50px 20% 50px 20%; 
    }
    .card-conteiner {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, min-content);
        grid-row-gap: 30px;
    }
    .card-lux {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .card_center-conteiner {
        display: flex;
        justify-content: center;
    }
    .options-lux {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content min-content;
        grid-column-gap: 30px;
    }
}
@media(max-width: 1200px) {
    .scrinshots-content {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fit, min-content);
    }
}
@media(max-width: 1120px) {
    .card-conteiner {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, min-content);
        grid-row-gap: 30px;
    }
    .card-lux {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .card_options {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content min-content;
        grid-column-gap: 30px;
    }
}
@media(max-width: 1100px) {
    .product-pluses_element-conteiner {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fit, min-content);
    }
    .reviews_content {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fit, min-content);
    }
}
@media(max-width: 1000px) {
    .card_options {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content min-content;
        grid-column-gap: 30px;
    }
}
@media(max-width: 800px) {
    .product {
        padding: 35px 35px 35px 35px;
    }
    .about-product {
        padding: 35px 35px 35px 35px;
    }
    .product-pluses {
        padding: 35px 40px 35px 40px;
        grid-gap: 25px;
    }
    .scrinshots {
        padding: 35px 35px 35px 35px;
        grid-row-gap: 25px;
    }
}
